.form_contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

/* From uiverse.io by @Alien14k */
.form__group {
  position: relative;
  width: 100%;
}

.form__field {
  border: 1px solid #68d3ff !important;

  border-radius: 10px;
  box-sizing: border-box;
  color: #999;
  height: 40px;
  padding: 0rem 15px;
  width: 90%;
  background-color: rgba(22, 29, 37);
}

.form__group:nth-child(2) {
  margin-left: 10%;
}

.form__group:nth-child(3) .form__field {
  width: 100%;
  height: 120px;
  padding: 15px;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  top: 10px;
  border-right: none;
  border-left: none;
  border-top: none;
}

.form__label {
  background-color: rgba(22, 29, 37);
  border-left: 1px solid #68d3ff;
  border-right: 1px solid #68d3ff;
  border-top: 1px solid #68d3ff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #9b9b9b;

  display: block;
  font-size: 0.9em;
  margin-left: 10px;
  padding: 5px 10px 0;
  pointer-events: none;
  position: absolute;
  top: -20px;
  transition: 0.2s;
}

.form__field:focus {
  outline: none;
  background-color: #0d1118;
}

.form__field:focus ~ .form__label {
  background-color: #0d1118;

  border-right: 1px solid #68d3ff;
  border-left: 1px solid #68d3ff;

  border-top: 1px solid #68d3ff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #68d3ff;
  font-size: 0.9em;
  margin-left: 10px;
  padding: 0 10px;
  position: absolute;
  top: -16px;
  transition: 0.2s;
}

/* From uiverse.io by @nikk7007 */
button {
  padding: 0.8em 1.8em;
  border: 2px solid #17c3b2;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #17c3b2;
  cursor: pointer;
}

button::before {
  content: "";
  width: 0;
  height: 900%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #17c3b2;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

button:hover::before {
  width: 105%;
}

button:hover {
  color: #111;
}
