header {
  width: 100%;
  padding: 10vh 0 0;
  max-width: 700px;
  margin: auto;
  position: relative;
  z-index: 10;
}

header > div {
  position: relative;
  padding: 50px;
  background-color: #161d25;
  border-radius: 0 0 15px 15px;
}

.background {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  background-image: url("../assets/Fondo-Linkidn.webp");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
  z-index: 2;
}

.background > div {
  width: 100%;
  height: 110%;
  background-color: #161d25;
  clip-path: polygon(50% 90%, 100% 75%, 100% 100%, 0 100%, 0 75%);
  z-index: 19;
}

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 190;
  min-height: 500px;
}

.presentation img {
  width: 150px;
  height: 150px;
  margin: 80px 0 20px;
  border: 3px solid #161d25;
  border-radius: 50%;
  object-fit: cover;
  z-index: 5;
}

.presentation h1 {
  font-size: 34px;
  color: #68d3ff;
  text-align: center;
}

.presentation h2 {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 10px;
}

.presentation ul {
  display: flex;
  gap: 10px;
}

.presentation ul li i {
  color: #fff;
  font-size: 1rem;
}

.btnCvContact {
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.btn-header {
  width: 140px;
  height: 50px;
  border: 2px solid #68d3ff;
  position: relative;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #68d3ff;
  cursor: pointer;
  overflow: hidden;
  padding: 15px;
}

.btn-header::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #68d3ff;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.btn-header:hover::before {
  width: 105%;
}

.btn-header:hover {
  color: #111;
}

button svg {
  margin-right: 5px;
  height: 16px;
}

button svg polyline,
button svg line {
  animation: docs 1s infinite;
}

@keyframes docs {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-15%);
  }

  100% {
    transform: translateY(0%);
  }
}

@media (min-width: 560px) {
  header {
    padding: 20px 20px 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  header > div {
    width: 85%;
    border-radius: 10px;
  }
  .background {
    border-radius: 10px;
  }
}

@media (min-width: 1100px) {
  header {
    margin: 30px 0 0 70px;
  }
  header > div {
    width: 500px;
  }
}
